body {
    color: #303030;
    background-color: #fdfdfd;
    font-size: 19px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    max-width: 700px;
    margin: 0 auto;
}

code {
    font-size: 14px;
}

.content {
    min-height: 512px;
}

.content img {
   display: block;
   max-height: 512px;
   max-width: 80%;
   margin: 0 auto;
}

.topbar a {
    text-decoration:none;
    color: #333333;
}

.topbar {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #303030;
}

.bottombar {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #303030;
}

/* Sets the size of the signature under the bottom bar */
.signature {
    font-size: 10px;
}

.postindex {
  list-style-type: none;
}
